<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character</title>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
</head>
<body>
    <div id="app">
        <b-navbar toggleable="lg" type="dark" variant="danger">
            <b-navbar-brand href="/dev/home" class="mx-3">D&D Group Finder</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item href="/dev/search">Groups</b-nav-item>
                    <b-nav-item target="_blank" rel="noopener noreferrer" href="https://dnd.wizards.com/what-is-dnd/basics-play">Rules</b-nav-item>
                </b-navbar-nav>

            <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-item-dropdown right>
                        <!-- Using 'button-content' slot -->
                        <template #button-content>
                            <em>User</em>
                        </template>
                            <b-dropdown-item href="/dev/user-page">Profile</b-dropdown-item>
                            <b-dropdown-item href="/dev/login-page">Logout</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    <div class="text-center" v-if="loading">
      <b-spinner></b-spinner>
    </div>
      <b-button href="/dev/user-page" size="sm" variant="outline-danger" class="m-2">Cancel</b-button>
      <b-button @click="deleteChar" size="sm" variant="danger" class="m-2">Delete</b-button>
    <b-form class="m-3">
      <b-form-group
        id="input-group-1"
        label="Character Name:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.char_name"
          placeholder=""
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Class:" label-for="input-2">
        <b-form-select
          id="input-2"
          v-model="form.class"
          :options="charClass"
          required
        ></b-form-select>
      </b-form-group>

      <b-form-group id="input-group-3" label="Race:" label-for="input-3">
        <b-form-select
          id="input-3"
          v-model="form.race"
          :options="race"
          required
        ></b-form-select>
      </b-form-group>

    <b-form-group
        id="input-group-4"
        label="Strength:"
        label-for="input-4"
      >
        <b-form-input
          id="input-4"
          v-model="form.strength"
          placeholder="Select Strength"
          required
          type="range"
          min="0"
          max="20"
        ></b-form-input><span>{{ form.strength }}</span>
      </b-form-group>
    <b-form-group
        id="input-group-5"
        label="Dexterity:"
        label-for="input-5"
      >
        <b-form-input
          id="input-4"
          v-model="form.dexterity"
          placeholder="Select Dexterity"
          required
          type="range"
          min="0"
          max="20"
          ></b-form-input><span>{{ form.dexterity }}</span>
      </b-form-group>
    <b-form-group
        id="input-group-6"
        label="Constitution:"
        label-for="input-6"
      >
        <b-form-input
          id="input-6"
          v-model="form.constitution"
          placeholder="Select Constitution"
          required
          type="range"
          min="0"
          max="20"
          ></b-form-input><span>{{ form.constitution }}</span>
      </b-form-group>
    <b-form-group
        id="input-group-7"
        label="Intelligence:"
        label-for="input-7"
      >
        <b-form-input
          id="input-7"
          v-model="form.intelligence"
          placeholder="Select Intelligence"
          required
          type="range"
          min="0"
          max="20"
          ></b-form-input><span>{{ form.intelligence }}</span>
      </b-form-group>
      <b-form-group
        id="input-group-8"
        label="Wisdom:"
        label-for="input-8"
      >
        <b-form-input
          id="input-8"
          v-model="form.wisdom"
          placeholder="Select Wisdom"
          required
          type="range"
          min="0"
          max="20"
          ></b-form-input><span>{{ form.wisdom }}</span>
      </b-form-group>
    <b-form-group
        id="input-group-9"
        label="Charisma:"
        label-for="input-9"
      >
        <b-form-input
          id="input-9"
          v-model="form.charisma"
          placeholder="Select Charisma"
          required
          type="range"
          min="0"
          max="20"
          ></b-form-input><span>{{ form.charisma }}</span>
      </b-form-group>
      <!-- <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card> -->

      <b-button @click="updateChar" variant="danger">Update</b-button>
    </b-form>
    </div>
</body>
</html>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                charId: location.href.split('?')[1].split('&')[0].split('=')[1],
                character: '',
                loading: false,
                form : {
                    charName: '',
                    race: null,
                    charClass: null,
                    strength: '',
                    dexterity: '',
                    constitution: '',
                    intelligence: '',
                    wisdom: '',
                    charisma: '',
                    userId: window.location.href = '/dev/login-page'
                },
                race: [{ text: 'Select Race', value: null }, 'Orc', 'Elf', 'Human', 'Breton'],
                charClass: [{ text: 'Select Class', value: null }, 'Mage', 'Warrior', 'Rogue', 'Monk'],
                edit: false,
                loggedIn: false
            }
        },
        mounted: function() {
            this.getChar();
            this.loading = true;
            this.login();
        },
        methods: {
            getChar() {
                axios.get(`/dev/character/${this.charId}`)
                .then(response => (this.character = response.data[0], this.form = response.data[0], this.loading = false),
                (error) => {
                    console.error(error);
                }); 
            },
            updateChar() {
                console.log(this.form)
                this.form.charId = parseInt(this.charId);
                axios.post(`/dev/updateChar`, this.form)
                .then(window.location = '/dev/user-page', this.edit = false,
                (error) => {
                    console.error(error);
                })
            },
            deleteChar() {
              axios.delete(`/dev/character/${this.charId}`).then(window.location = `/dev/user-page`),(error) => {
                console.error(error);
              }
            },
            login(){
                if(document.cookie.split('=')[1])
                    return this.loggedIn = true;
                else {
                    window.location.href = '/dev/login-page';
                }
            },
        }
    })
</script>