<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Group</title>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
</head>
<body>
  <div id="app">
    <b-navbar toggleable="lg" type="dark" variant="danger">
      <b-navbar-brand href="/dev/home" class="mx-3">D&D Group Finder</b-navbar-brand>
      
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="/dev/search">Groups</b-nav-item>
          <b-nav-item target="_blank" rel="noopener noreferrer" href="https://dnd.wizards.com/what-is-dnd/basics-play">Rules</b-nav-item>
        </b-navbar-nav>
        
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown right>
                <template #button-content>
                  <em>User</em>
                </template>
                  <b-dropdown-item href="/dev/user-page">Profile</b-dropdown-item>
                  <b-dropdown-item href="/dev/login-page">Logout</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-form class="m-5" @submit.stop.prevent="createGroup">
      <h2>Create Group</h2>
      <b-form-group
        id="input-group-1"
        label="Group Name:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.groupName"
          placeholder="Enter Group name"
          :state="charValidation"
          @submit.stop.prevent
          required
        ></b-form-input>
        <b-form-invalid-feedback :state="charValidation">
            Your character must have a name
        </b-form-invalid-feedback>
        <b-form-valid-feedback :state="charValidation">
            Looks Good.
        </b-form-valid-feedback>
      </b-form-group>

      <b-form-group
        id="input-group-2"
        label="Group Description:"
        label-for="input-2"
      >
        <b-form-input
          id="input-2"
          v-model="form.description"
          @submit.stop.prevent
          placeholder="Enter Group Description"
          required
        ></b-form-input>
        <b-form-invalid-feedback :state="classValidation">
            Your group must have a name
        </b-form-invalid-feedback>
        <b-form-valid-feedback :state="classValidation">
            Looks Good.
        </b-form-valid-feedback>
      </b-form-group>

      <template>
      <div style="display: inline-block;" class="my-3">
      <b-form-group label="Genre:" class="m-3">
        <b-form-radio-group
          id="radio-group-1"
          v-model="form.genre"
          :options="genre"
        ></b-form-radio-group>
      </b-form-group>

      <b-form-group label="Level:" class="m-3">
        <b-form-radio-group
          id="radio-group-2"
          v-model="form.level"
          :options="level"
        ></b-form-radio-group>
      </b-form-group>

      <b-form-group label="Play Style:" class="m-3">
        <b-form-radio-group
          id="radio-group-3"
          v-model="form.playStyle"
          :options="playStyle"
        ></b-form-radio-group>
      </b-form-group>

      <b-form-group label="Play Type:" class="m-3">
        <b-form-radio-group
          id="radio-group-4"
          v-model="form.playType"
          :options="playType"
        ></b-form-radio-group>
      </b-form-group></div></template>

      <b-button @click="createGroup" variant="danger" style="display: block;">Submit</b-button>
    </b-form>
   </div>
</body>
</html>
<script>
    new Vue({
        el: "#app",
        data() {
          return {
            form : {
                groupName: '',
                description: '',
                genre: 'Fantasy',
                level: 'Beginner',
                playStyle: 'Hybrid',
                playType: 'By The Book',
                dm: document.cookie.split('=')[1],
            },
            genre: ['Fantasy', 'Historical', 'Sci-Fi'],
            level: ['Beginner', 'Intermediate', 'Expert'],
            playStyle: ['By The Book', 'Comedic', 'Improvisational'],
            playType: ['Online', 'Face-to-Face', 'Hybrid'],
            loggedIn: false
          }
        },
        mounted: function() {
          this.login();
        },
        computed: {
          charValidation() {
              return this.form.groupName.length > 1;
          },
          classValidation() {
              return this.form.description.length > 1;
          },
          raceValidation() {
              return this.form.race != null;
          }
        },
        methods: {
            createGroup(){
                console.log(this.form)
                axios.post(`/dev/createGroup`, this.form).then(window.location = '/dev/search'),
                (error) => {
                    console.error(error);
                };
            },
            login(){
                if(document.cookie.split('=')[1])
                    return this.loggedIn = true;
                else {
                    window.location.href = '/dev/login-page';
                }
            },
        }
    })
     
</script>