<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Group</title>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
</head>
<h1>Create Group</h1>
<body>
    <div id="app">
    <b-form @submit="createGroup">
      <b-form-group
        id="input-group-1"
        label="Group Name:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.groupName"
          placeholder="Enter Group name"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-2"
        label="Group Description:"
        label-for="input-2"
      >
        <b-form-input
          id="input-2"
          v-model="form.description"
          placeholder="Enter Group Description"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Genre:" label-for="input-3">
        <b-form-select
          id="input-3"
          v-model="form.genre"
          :options="genre"
          required
        ></b-form-select>
      </b-form-group>

    <b-form-group id="input-group-4" label="Level:" label-for="input-4">
        <b-form-select
          id="input-4"
          v-model="form.level"
          :options="level"
          required
        ></b-form-select>
      </b-form-group>

        <b-form-group id="input-group-5" label="Play Style:" label-for="input-5">
        <b-form-select
          id="input-5"
          v-model="form.playStyle"
          :options="playStyle"
          required
        ></b-form-select>
      </b-form-group>

    <b-form-group id="input-group-6" label="Play Type:" label-for="input-6">
        <b-form-select
          id="input-6"
          v-model="form.playType"
          :options="playType"
          required
        ></b-form-select>
      </b-form-group>

      <b-button type="submit" variant="danger">Submit</b-button>
    </b-form>
   </div>
</body>
</html>
<script>
    new Vue({
        el: "#app",
        data() {
          return {
            form : {
                groupName: '',
                description: '',
                genre: null,
                level: null,
                dm: 1,
                playStyle: null,
                playType: null,
            },
            genre: [{ text: 'Select Genre', value: null }, 'Fantasy', 'Historical', 'Sci-Fi'],
            level: [{ text: 'Select Level', value: null }, 'Beginner', 'Intermediate', 'Expert'],
            playType: [{ text: 'Select Play Type', value: null }, 'Online', 'Face-to-Face', 'Hybrid'],
            playStyle: [{ text: 'Select Play Style', value: null }, 'Normal', 'Funny'],
          }
        },
        mounted: function() {
        },
        methods: {
            createGroup(){
                console.log(this.form)
                axios.post(`/dev/createGroup`, this.form)
                .then(window.location.href = '/dev/search',
                (error) => {
                    console.error(error);
                });
            }
        }
    })
     
</script>