<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <hr>
    <div id="app">
        <h1>{{groupInfo.group_name}}</h1>
        <span>Group created on {{groupInfo.created_on}}</span>
        <p>Tags: {{groupInfo.style}} {{groupInfo.play_type}} {{groupInfo.genre}}</p>
        <h3>Characters</h3>
        <hr>
        <ul>
            <!-- <li v-for="character in characters" v-text="character.name"></li> -->
            <a :href="'/dev/character-page?characterId='+ character.char_id" v-for="(character, index) in group"><li>{{group[index].char_name}}</li></a>
        </ul>
        <hr>
        <h4>Group Posts</h4>
        <ul>
            <a :href="'/dev/posts-page?postId='+ post.annc_id" v-for="(post, index) in posts"><li>{{post.title}}</li></a>
        </ul>
    </div>
</body>
</html>
<script type="module">
    // import Banner from './components/Banner.vue';
    new Vue({
        el: "#app",
        data() {
          return {
            group: [],
            groupInfo: '',
            characters: [],
            posts: [],
            groupId: location.href.split('?')[1].split('&')[0].split('=')[1],
          }
        },
        mounted: function() {
        //   this.getGroupChars();
          this.getGroup();
          this.getPosts();
        },
        methods: {
            joinGroup() {
                console.log(this.groupId);
            },
            getGroup() {
             axios.get(`/dev/groups/${this.groupId}`)
                .then(response => (this.group = response.data, this.groupInfo = response.data[0], console.log(response.data)),
                (error) => {
                    console.error(error);
                }); 
            },
            getPosts() {
                axios.get(`/dev/group/${this.groupId}/posts`)
                .then(response => (this.posts = response.data, console.log(response)),
                (error) => {
                    console.error(error);
                });
            }
        }
    })
</script>