<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group</title>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
</head>
<body>
    <div id="app">
    <b-navbar toggleable="lg" type="dark" variant="danger">
      <b-navbar-brand href="/dev/home" class="mx-3">D&D Group Finder</b-navbar-brand>
      
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="/dev/search">Groups</b-nav-item>
          <b-nav-item target="_blank" rel="noopener noreferrer" href="https://dnd.wizards.com/what-is-dnd/basics-play">Rules</b-nav-item>
        </b-navbar-nav>
        
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown right>
                <template #button-content>
                  <em>User</em>
                </template>
                  <b-dropdown-item href="/dev/user-page?userId=1">Profile</b-dropdown-item>
                  <b-dropdown-item href="#">Logout</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <div class="text-center" v-if="loading">
        <b-spinner></b-spinner>
    </div>
    <div>
      <b-button v-if="edit" @click="edit=false" size="sm" variant="outline-danger" class="m-2">Cancel</b-button>
      <b-button v-if="edit" @click="deleteGroup" size="sm" variant="danger" class="m-2">Delete</b-button>
      <b-button v-if="!edit && !loading" size="sm" variant="outline-danger" @click="edit=true" class="m-2" style="align-content: flex-end;">Edit</b-button>
      <b-card text-variant="danger" :title="group.group_name" :sub-title="group.description" v-if="!edit">
        <p style="color: black; font-size: 8px;" v-if="!loading">Created On:{{group.created_on}}</p>
        <div class="m-3">
          <b-button v-if="!loading" @click="selected = true" variant="danger" class="my-3">Join Group</b-button>
          <div v-if="selected" class="my-2">
            <b-button @click="selected = false">Cancel</b-button>
            <label for="select">Choose a character:</label>
            <select v-model="select" id="select" @change="joinGroup($event)">
                <option v-for="(character, index) in group.user" :value="character.char_id" >{{character.char_name}}</option>
            </select>
          </div>
        </div>
        <div class="mx-3">
          <h4 v-if="!loading">Characters</h4>
          <p style="color: black;" v-if="!group.characters && !loading">No Characters Yet</p>
        </div>
        <b-card-group columns>
          <b-card v-if="!edit" border-variant="danger" text-variant="danger" :title="character.char_name" :sub-title="character.class" v-for="(character, index) in group.characters" bg-variant="dark" style="display: inline-block;" class="m-3">
            <b-card-text>
              <pre>Race: {{character.race}}</pre>
              <pre>Strength: {{character.strength}}</pre>
              <pre>Dexterity: {{character.dexterity}}</pre>
              <pre>Constitution: {{character.constitution}}</pre>
              <pre>Intelligence: {{character.intelligence}}</pre>
              <pre>Wisdom: {{character.wisdom}}</pre>
              <pre>Charisma: {{character.charisma}}</pre>
              <p v-if="!group.characters && !loading" style="color: black;">No Characters In Group</p>
            </b-card-text>
          </b-card>
        </b-card-group>
        <div class="mx-3" v-if="!loading">
          <h4 v-if="!loading">Posts</h4>
          <p style="color: black;" v-if="!group.comments">No Posts Yet</p>
        </div>
        <b-card-group deck>
          <b-button v-if="!makePost && !loading" @click="makePost = true" variant="danger" class="m-3">
              Add Post 
          </b-button>
          <b-container fluid v-if="makePost" class="mt-2">
              <b-row class="mt-2">
                <b-col sm="10">
                  <b-form-textarea
                    id="titlearea"
                    placeholder="Enter title..."
                    v-model="title"
                  ></b-form-textarea>
                </b-col><b-col sm="10">
                  <b-form-textarea
                    id="textarea"
                    placeholder="Enter content..."
                    v-model="text"
                  ></b-form-textarea>
                </b-col>
              </b-row>
              <div class="mt-2">
              <b-button @click="makePost = false">Cancel</b-button>
              <b-button @click="createComment(group.group_id, 0)" variant="danger">Submit</b-button></div>
          </b-container>
          <b-card v-if="!edit && comment.parent_id == 0" border-variant="danger" text-variant="danger" :title="comment.title" :sub-title="comment.text" v-for="(comment, index) in group.comments" bg-variant="dark" class="m-3">
            <p style="color: whitesmoke; font-size: 8px;">{{comment.created_on}}</p>
            <b-card-text>
              {{comment.likes}} likes
              <template>
              <b-button @click="addLike(comment.likes, comment.comment_id)" variant="outline-danger" class="mt-2">
                <b-icon icon="hand-thumbs-up"></b-icon>
              </b-button></template>
              <b-button  @click="makeComment = !makeComment" variant="outline-danger" class="mt-2">
                <b-icon icon="chat-right-text"></b-icon>
              </b-button>
              <!-- <b-list-group v-if="group.comments.length">
                <b-list-group-item v-if="" v-for="comment in group.comments" class="mt-2">{{comment.text}}</b-list-group-item>
              </b-list-group>  -->
              <b-card class="m-3" :title="subComment.text" :sub-title="subComment.user_name" v-if="subComment.parent_id != 0 && subComment.parent_id == comment.comment_id && makeComment" v-for="(subComment, index) in group.comments">
                <p style="color: black; font-size: 8px;">{{comment.created_on}}</p>
                <template>
                  {{subComment.likes}} likes
              <b-button @click="addLike(subComment.likes, subComment.comment_id)" variant="outline-danger" class="mt-2">
                <b-icon icon="hand-thumbs-up"></b-icon>
              </b-button></template>
              </b-card>
            </b-card-text>
            <b-container fluid v-if="makeComment" class="mt-2">
              <b-row class="mt-2">
                <b-col sm="10">
                  <b-form-textarea
                  id="textarea"
                  placeholder="Enter comment..."
                  v-model="text"
                  required
                  ></b-form-textarea>
                </b-col>
              </b-row>
              <div class="mt-2">
                <b-button @click="makeComment = false">Cancel</b-button>
                <b-button @click="createComment(comment.group_id, comment.comment_id)" variant="danger">Submit</b-button></div>
              </b-container>
            </b-card>
        </b-card-group>
      </b-card>
    </div>
    <b-form v-if="edit" class="m-3">
      <h2>Edit Group</h2>
      <b-form-group
        id="input-group-1"
        label="Group Name:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.group_name"
          placeholder="Enter Group name"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-2"
        label="Group Description:"
        label-for="input-2"
      >
        <b-form-input
          id="input-2"
          v-model="form.description"
          placeholder="Enter Group Description"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Genre:" label-for="input-3">
        <b-form-select
          id="input-3"
          v-model="form.genre"
          :options="genre"
          required
        ></b-form-select>
      </b-form-group>

    <b-form-group id="input-group-4" label="Level:" label-for="input-4">
        <b-form-select
          id="input-4"
          v-model="form.level"
          :options="level"
          required
        ></b-form-select>
      </b-form-group>

        <b-form-group id="input-group-5" label="Play Style:" label-for="input-5">
        <b-form-select
          id="input-5"
          v-model="form.style"
          :options="playStyle"
          required
        ></b-form-select>
      </b-form-group>

    <b-form-group id="input-group-6" label="Play Type:" label-for="input-6">
        <b-form-select
          id="input-6"
          v-model="form.play_type"
          :options="playType"
          required
        ></b-form-select>
      </b-form-group>

      <b-button @click="updateGroup" variant="danger" class="mt-2">Submit</b-button>
    </b-form>
    <!-- <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
    </b-card> -->
    </div>
</body>
</html>
<script type="module">
    // import Banner from './components/Banner.vue';
    new Vue({
        el: "#app",
        data() {
          return {
            group: [],
            groupId: location.href.split('?')[1].split('&')[0].split('=')[1],
            // charId: 7,
            userId: 1,
            select: null,
            selected: false,
            loading: false,
            makePost: false,
            text: '',
            commentText: '',
            title: '',
            form : {
                groupId: '',
                description: '',
                groupName: '',
                genre: null,
                level: null,
                dm: 1,
                play_type: null,
                style: null,
                createdOn: null
            },
            genre: [{ text: 'Select Genre', value: null }, 'Fantasy', 'Historical', 'Sci-Fi'],
            level: [{ text: 'Select Level', value: null }, 'Beginner', 'Intermediate', 'Expert'],
            playType: [{ text: 'Select Play Type', value: null }, 'Online', 'Face-to-Face', 'Hybrid'],
            playStyle: [{ text: 'Select Play Style', value: null }, 'Serious', 'Funny', 'Strict'],
            edit: false,
            makeComment: false,
            postId: '',
            comments: '',
            likes: 0
          }
        },
        mounted: function() {
          this.getGroup();
          this.loading = true;
        },
        methods: {
            getGroup() {
                axios.get(`/dev/groups/${this.groupId}`)
                .then(response => (this.group = response.data, this.form = response.data, this.loading = false),
                (error) => {
                    console.error(error);
                }); 
            },
            joinGroup(event) {
                axios.post(`/dev/joinGroup`, {groupId: this.groupId, charId: event.target.value})
                .then(response => console.log(response)),
                (error) => {
                    console.error(error)
                }
                window.location.reload();
            },
            createComment(groupId, parentId) {
              console.log(this.text)
              console.log(groupId, parentId)
              if(this.text) {
                axios.post(`/dev/comments`, {title: this.title, text: this.text, userId: 1, groupId: groupId, parentId: parentId, likes: 0})
                .then(response => this.newComment = '', window.location.reload(), (console.log(response)),
                (error) => {
                  console.log(error);
                });
              } 
            },
            updateGroup() {
                this.form.groupId = parseInt(this.groupId);
                axios.post('/dev/updateGroup', this.form)
                .then(window.location.reload()),
                (error) => {
                  console.error(error)
                }
            },
            addLike(likes, id){
                console.log(likes)
                axios.post(`/dev/likes`, {likes: likes + 1, id: id})
                .then(response => (console.log(response)),
                (error) => {
                    console.log(error);
                });
                window.location.reload();    
            },
            deleteGroup() {
              axios.delete(`/dev/group/${this.groupId}`).then(window.location = '/dev/search'),(error) => {
                console.error(error);
              }
            }
        }
    })
</script>